body {
  margin: 50px 10vw 0;
  font: 16px "Open Sans", sans-serif;
  font-weight: 300;
  color: #333333;
  background-color: #fbfbfb;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  margin-bottom: 2rem;
}

.project {
  width: 60vw;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: whitesmoke;
}

.project header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.project header a img {
  margin: 0 0.3rem;
  width: 16px;
}

.project .technologies {
  font-size: 0.8rem;
}

.project .technologies span {
  font-weight: bold;
}
